{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Orders" %}{% endblock %}

{% block content %}
<div class="container">
    <h2>Order</h2>
    <div class="card-body">
        <p><strong>Order ID:</strong> {{ order.order_id }}</p>
        <p><strong>User:</strong> {{ order.user.username }}</p>
        <p><strong>Service:</strong> {{ order.service.title }}</p>
        <p><strong>Category:</strong> {{ order.category.name }}</p>
        <p><strong>Date:</strong> {{ order.date }}</p>
        <p><strong>Status:</strong> {{ order.get_status_display }}</p>
        <p><strong>User Comment:</strong> {{ order.user_comment }}</p>
        <p><strong>Moderator Comment:</strong> {{ order.moder_comment }}</p>
        {% if order.cost != 0  %}
            <p><strong>Cost:</strong> ₽ {{ order.cost }}</p>
        {% else %}
            <p><strong>Cost:</strong> Цена договорная</p>
        {% endif %}
    </div>
    <h2>User</h2>
    <div class="card-body">
        <img src="{{ user.profile_photo.url }}">
        <p><strong>User ID:</strong> {{ user.user_id }}</p>
        <p><strong>Username:</strong> {{ user.username }}</p>
        <p><strong>Phone number:</strong> {{ user.phone_number }}</p>
    </div>
<!--    <a class="btn-primary" href="{% url 'orders' %}">{% trans "Return back" %}</a>-->
</div>

{% endblock %}