@charset "UTF-8";
body {
  font-family: Roboto, sans-serif;
  background-color: #333;
  color: #fff;
  margin: 0;
  padding: 0;
  width: 100%;
}

.text-white {
  color: #fff !important;
}

.text-black {
  color: #000 !important;
}

a {
  color: #00aeff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.checkbox {
  display: flex;
  align-items: flex-start;
}
.checkbox input[type=checkbox] {
  margin-right: 10px;
  margin-top: 3px; /* Смещение галочки наверх */
}
.checkbox label {
  cursor: pointer; /* Указывает, что можно кликнуть */
}
.checkbox a {
  color: #007bff; /* Цвет ссылок */
  text-decoration: none;
}
.checkbox a:hover {
  text-decoration: underline;
}

.header_section {
  top: 0;
  background: transparent;
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5); /* Прозрачный черный фон */
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px); /* Эффект размытия */
}
.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}
.header_section .nav_container {
  margin: 0 auto;
}
.header_section .nav-link img {
  max-width: 18px;
}
.header_section .custom_nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  z-index: 99999;
}
.header_section .custom_nav-container .navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_section .custom_nav-container .navbar-nav .nav-item {
  display: flex;
  align-items: center;
}
.header_section .custom_nav-container .navbar-nav .nav-item .nav-link {
  margin: 10px 30px;
  padding: 0;
  padding-bottom: 3px;
  color: #FFFFFF;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  font-size: 15px;
}
.header_section .custom_nav-container .navbar-nav .nav-item .nav-link::after {
  display: none;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: #FFFFFF;
}
.header_section .custom_nav-container .navbar-nav .nav-item .nav-link:hover, .header_section .custom_nav-container .navbar-nav .nav-item .nav-link:focus {
  text-shadow: 0 0 1px rgba(240, 248, 255, 0.8);
}
.header_section .custom_nav-container .navbar-nav .nav-item.active .nav-link::after, .header_section .custom_nav-container .navbar-nav .nav-item:hover .nav-link::after {
  display: block;
  background-color: #FF0000;
  transition: all 0.5s ease-in-out;
}
.header_section .custom_nav-container .navbar-nav .nav-lang .form-control {
  color: #FFFFFF;
  background-color: #333;
  border: none;
}
.header_section .custom_nav-container .navbar-toggler {
  outline: none;
  padding: 4px;
}
.header_section .custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 50px;
}
.header_section .custom_nav-container .navbar-brand {
  display: flex;
  align-items: center;
  position: relative;
}
.header_section .custom_nav-container .navbar-brand h1 {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
  color: #FFFFFF;
  margin: 0;
  position: relative;
  z-index: 3;
  line-height: 70%;
}
.header_section .custom_nav-container .navbar-brand h1 span {
  font-size: 12px;
  text-transform: none;
}

main {
  padding: 100px 0;
}

.profile-container {
  display: flex;
  background-color: #444;
  color: #fff;
  margin: 10px auto;
  padding: 20px;
  border-radius: 10px;
  max-width: 100%;
}
.profile-container .profile-left {
  padding: 0;
  display: flex;
  justify-content: center;
}
.profile-container .profile-left .profile-photo {
  -o-object-fit: cover;
     object-fit: cover; /* сохраняет соотношение сторон, обрезая изображение по краям */
  -o-object-position: center;
     object-position: center; /* центрирует изображение внутри контейнера */
  aspect-ratio: 1/1; /* устанавливает соотношение сторон 1:1 */
}
.profile-container .profile-right {
  padding: 0;
}
.profile-container .profile-right h2 {
  margin-top: 0;
}
.profile-container .profile-right p {
  margin: 5px 0;
}
.profile-container .profile-right a {
  display: inline-block;
  background-color: #28a745;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
}
.profile-container .profile-right a:hover {
  background-color: #1e7e34;
}

@media (max-width: 768px) {
  .profile-photo {
    margin-bottom: 20px;
  }
}
@media (max-width: 576px) {
  .profile-container .profile-right a {
    padding: 5px 10px;
  }
  .table {
    font-size: 0.75rem;
  }
  .table th {
    padding: 6px;
  }
  .table td {
    padding: 6px;
  }
  .table td:last-child {
    padding: 2px;
  }
  h2 {
    font-size: 1rem;
  }
  .badge {
    font-size: 0.75rem;
  }
  .btn {
    font-size: 0.75rem;
    padding: 5px 10px;
    margin: 2px !important;
  }
}
.last-order {
  background-color: #333;
  color: #fff;
  margin: 10px auto;
  padding: 20px;
  border-radius: 10px;
  max-width: 100%;
}
.last-order h3 {
  margin-top: 0;
}
.last-order p,
.last-order ul {
  margin: 10px 0;
}
.last-order ul {
  padding-left: 20px;
}
.last-order ul li {
  margin: 5px 0;
}
.last-order .status {
  font-weight: bold;
}
.last-order .status.paid {
  color: green;
}
.last-order .status.unpaid {
  color: red;
}

footer {
  text-align: center;
  padding: 10px 0;
  width: 100%;
  margin-top: auto;
}

.footer_section {
  background-size: cover;
  background-position: center;
  background-color: #300054;
  width: 100%;
  padding: 20px;
}
.footer_section p {
  color: #F0F8FF;
  margin: 0;
  text-align: center;
}
.footer_section ul {
  margin: 10px auto;
  list-style: none;
  padding: 0;
}
.footer_section ul li {
  text-align: center;
}
.footer_section ul li a {
  color: #F0F8FF;
}

.user-card {
  margin: 20px 0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.user-card img {
  width: 100%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.user-card .card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.user-card .card-body h5 {
  margin-bottom: 15px;
}
.user-card .card-body p:first-of-type {
  margin: 0;
  overflow: hidden;
  max-height: 4.8em; /* Высота для 4-х строк */
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  transition: max-height 0.3s ease;
}
.user-card .card-body p:first-of-type.expanded {
  max-height: none; /* Убираем ограничение высоты */
  overflow: visible;
}
.user-card .card-body .toggle-link {
  color: #00aeff;
  cursor: pointer;
  font-size: 14px;
  margin: 5px 0 15px;
  display: inline-block;
  text-align: right;
}
.user-card .card-body .toggle-link:hover {
  text-decoration: underline;
}
.user-card .card-order-info {
  padding: 20px;
}
.user-card .card-order-info form {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.user-card .card-order-info form select {
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  color: #FFFFFF;
  background-color: #444;
  border: none;
  width: 100%; /* Ограничение ширины до ширины контейнера */
  text-overflow: ellipsis; /* Добавление многоточия */
  overflow: hidden; /* Обрезка текста, который не помещается */
}
.user-card .card-order-info form #id_user_comment, .user-card .card-order-info form #id_promo_code {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  background: #444;
  color: #fff;
}

.card-header {
  color: #000000;
}

.admin_card.bg-success {
  background-color: #28a745 !important;
}
.admin_card .card-body {
  color: #000000;
}
.admin_card .card-body h5 {
  font-size: 1.25rem;
}
.admin_card .card-body p {
  font-size: 2rem;
  margin: 0;
}
.admin_card .card-body ul {
  margin: 0 20px;
}

.admin_list-group {
  margin-bottom: 24px;
}
.admin_list-group a {
  border: 0 2px solid #ccc;
}

.admin_list-group-item.active {
  background-color: #28a745 !important;
  border-color: #28a745 !important;
}

.admin_footer {
  background-color: #333 !important;
  color: #fff !important;
}

.table thead th {
  background-color: #333;
  color: #fff;
}

.table tbody tr {
  background-color: #fff;
  color: #000000;
}
.table tbody tr .btn {
  margin: 5px;
}

.table tbody tr:hover {
  background-color: #ccc;
}

.btn-warning, .btn-danger {
  margin-right: 5px;
}

.badge-primary {
  background-color: #007bff;
  color: #FFFFFF;
}

.badge-secondary {
  background-color: #6c757d;
  color: #FFFFFF;
}

.badge-success {
  background-color: #28a745;
  color: #FFFFFF;
}

.badge-danger {
  background-color: #dc3545;
  color: #FFFFFF;
}

.btn-group .btn {
  margin-right: 5px;
}

.btn-search {
  margin-left: 6px;
  background-color: rgba(0, 255, 0, 0.2);
  color: #fff;
}
.btn-search:hover {
  background-color: rgba(0, 255, 0, 0.6);
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.login-box {
  background: #333; /* Dark background for the login box */
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 75, 170, 0.5);
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.login-logo {
  width: 200px;
  margin-bottom: 1rem;
}

.login-box h2 {
  color: #fff;
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}
.form-group label {
  display: block;
  color: #fff;
  margin-bottom: 0.5rem;
}
.form-group input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #444;
  background: #333;
  color: #fff;
}
.form-group #id_profile_photo {
  border: none;
}

.btn-primary {
  background: #007bff;
  border: none;
  padding: 0.75rem;
  width: 100%;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.btn-primary:hover {
  background: #0056b3;
}

.login-links {
  margin-top: 1rem;
}
.login-links a {
  color: #00aeff;
  text-decoration: none;
}
.login-links a:hover {
  text-decoration: underline;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
}

.register-box {
  background: #333;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  max-width: 400px;
  width: 100%;
}
.register-box h2 {
  margin-bottom: 20px;
  color: #fff;
}
.register-box label {
  text-align: left;
}

.register-logo {
  max-width: 200px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  color: #fff;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}

.register-links {
  margin-top: 20px;
}
.register-links h4 {
  color: #fff;
  font-size: 14px;
}
.register-links a {
  color: #00aeff;
}

.edit-profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.edit-profile-box {
  background: #333;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  max-width: 500px;
  width: 100%;
}

.edit-profile-box h2 {
  margin-bottom: 20px;
  color: #fff;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  color: #fff;
}

.form-group input,
.form-group div {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  background: #444;
  color: #fff;
}

.form-group input[type=file] {
  margin: 0;
  padding: 5px 0;
}
.form-group input[type=file] button {
  border-radius: 10%;
}

#file-upload-inform {
  margin: 0;
  padding-bottom: 5px;
}

.helptext {
  color: #bbb;
  font-size: 12px;
}

.form-error ul {
  margin: 0;
  padding: 0;
}
.form-error li {
  margin: 0;
  padding: 0;
  text-align: left;
  color: transparent;
}
.form-error .nonfield li {
  color: #FFFFFF;
  margin-bottom: 20px;
}

.reset-pass-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.reset-pass-box {
  background: #333; /* Dark background for the login box */
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 75, 170, 0.5);
  width: 100%;
  max-width: 400px;
}
.reset-pass-box p input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  background: #444;
  color: #fff;
}
.reset-pass-box p textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  background: #444;
  color: #fff;
}

.reset-pass-logo {
  width: 200px;
  margin-bottom: 1rem;
}

.reset-pass-box h2 {
  color: #fff;
  margin-bottom: 1rem;
}/*# sourceMappingURL=style.css.map */