{% extends "panels_base_moderator.html" %}
{% load i18n %}

{% block title %}{% trans "Order Management" %} | {% trans "Star Start" %}{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mb-4">{% trans "All Orders" %}</h2>
    <div class="btn-group mb-3" role="group" aria-label="Order Filters">
        <a href="{% url 'panel_moderator_orders' %}?status=all">
            <button type="button" class="btn btn-secondary {% if current_status == 'all' %}active{% endif %}">{% trans "All" %}</button>
        </a>
         <a href="{% url 'panel_moderator_orders' %}?status=new">
            <button type="button" class="btn btn-secondary {% if current_status == 'new' %}active{% endif %}">{% trans "New Orders" %}</button>
        </a>
        <a href="{% url 'panel_moderator_orders' %}?status=in_progress">
            <button type="button" class="btn btn-secondary {% if current_status == 'in_progress' %}active{% endif %}">{% trans "In Progress" %}</button>
        </a>
        <a href="{% url 'panel_moderator_orders' %}?status=completed">
            <button type="button" class="btn btn-secondary {% if current_status == 'completed' %}active{% endif %}">{% trans "Completed" %}</button>
        </a>
        <a href="{% url 'panel_moderator_orders' %}?status=cancelled">
            <button type="button" class="btn btn-secondary {% if current_status == 'cancelled' %}active{% endif %}">{% trans "Cancelled" %}</button>
        </a>
    </div>
    <a href="{% url 'panel_form_add' 0 %}" class="btn btn-primary mb-3">{% trans "Add Order" %}</a><br>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>{% trans "Order ID" %}</th>
                <th>{% trans "Client" %}</th>
                <th>{% trans "Service" %}</th>
                <th>{% trans "Date" %}</th>
                <th>{% trans "Price" %}</th>
                <th>{% trans "Status" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders_list %}
            <tr>
                <td>{{ order.order_id }}</td>
                <td>{{ order.user }}</td>
                <td>{{ order.service.title }}</td>
                <td>{{ order.date }}</td>
                <td>₽{{ order.cost }}</td>
                <td><span class="badge badge-primary">{{ order.get_status_display }}</span></td>
                <td>
                    <a href="{% url 'panel_form_edit' order.order_id %}" class="btn btn-warning">{% trans "Edit" %}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
