{% extends "panels_base_admin.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Category Management" %} | {% trans "Star Start" %}{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mb-4">{% trans "Category Management" %}</h2>
    <div class="btn-group mb-3" role="group" aria-label="Order Filters">
        <a href="?sort_by=id&order={% if current_sort == 'id' and current_order == 'asc' %}desc{% else %}asc{% endif %}" class="btn btn-secondary">
            {% trans "Sort by ID" %}
            {% if current_sort == 'id' %}
                {% if current_order == 'asc' %}
                    <span>&uarr;</span>
                {% else %}
                    <span>&darr;</span>
                {% endif %}
            {% endif %}
        </a>
        <a href="?sort_by=service.title&order={% if current_sort == 'service__title' and current_order == 'asc' %}desc{% else %}asc{% endif %}" class="btn btn-secondary">
            {% trans "Sort by Service Title" %}
            {% if current_sort == 'service__title' %}
                {% if current_order == 'asc' %}
                    <span>&uarr;</span>
                {% else %}
                    <span>&darr;</span>
                {% endif %}
            {% endif %}
        </a>
    </div>
    <a href="{% url 'panel_form_add' 0 %}" class="btn btn-primary mb-3">{% trans "Add Category" %}</a>
    <table class="table table-bordered" id="categoriesTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>{% trans "Name category" %}</th>
                <th>{% trans "Name service" %}</th>
                <th>{% trans "Cost" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.name }}</td>
                    <td>{{ category.service.title }}</td>
                    <td>{{ category.cost }}</td>
                    <td>
                        <a href="{% url 'panel_form_edit' category.id %}" class="btn btn-success">{% trans "Edit" %}</a>
                        <a href="{% url 'panel_form_delete' category.id %}" class="btn btn-danger">{% trans "Delete" %}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if categories.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1{% if search_query %}&search={{ search_query }}{% endif %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ categories.previous_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}
            {% for num in categories.paginator.page_range %}
                {% if categories.number == num %}
                    <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                {% elif num > categories.number|add:'-3' and num < categories.number|add:'3' %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}{% if search_query %}&search={{ search_query }}{% endif %}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}
            {% if categories.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ categories.next_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ categories.paginator.num_pages }}{% if search_query %}&search={{ search_query }}{% endif %}" aria-label="Next">
                        <span aria-hidden="true">&raquo;&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}
