{% extends "panels_base_admin.html" %}
{% load i18n %}

{% block title %}{% trans "Group service" %} | {% trans "Star Start" %}{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mb-4">{% trans "Group service" %}</h2>
     <a href="{% url 'panel_form_add' 0 %}" class="btn btn-primary mb-3">{% trans "Add Group service" %}</a><br>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>{% trans "Title" %}</th>
                <th>{% trans "Description" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for group in group_service %}
                <tr>
                    <td>{{ group.id }}</td>
                    <td>{{ group.title }}</td>
                    <td>{{ group.description }}</td>
                    <td>
                        <a href="{% url 'panel_form_edit' group.id %}" class="btn btn-success">{% trans "Edit" %}</a>
                        <a href="{% url 'panel_form_delete' group.id %}" class="btn btn-danger">{% trans "Delete" %}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if group_service.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1{% if search_query %}&search={{ search_query }}{% endif %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ group_service.previous_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}
            {% for num in group_service.paginator.page_range %}
                {% if users_list.number == num %}
                    <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                {% elif num > group_service.number|add:'-3' and num < group_service.number|add:'3' %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}{% if search_query %}&search={{ search_query }}{% endif %}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}
            {% if group_service.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ group_service.next_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ group_service.paginator.num_pages }}{% if search_query %}&search={{ search_query }}{% endif %}" aria-label="Next">
                        <span aria-hidden="true">&raquo;&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}
