<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% trans "Admin panel" %} | {% trans "Star Start" %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,600,700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header_section">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg custom_nav-container">
                <a class="navbar-brand" href="{% url 'panel_admin_dashboard' %}"><h1>{% trans "Star Start" %} <br>
                    <span>{% trans "production center" %}</span></h1>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="{% trans 'Toggle navigation' %}">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'panel_admin_dashboard' %}">{% trans "Dashboard" %}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'panel_admin_users' %}">{% trans "Users" %}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'panel_admin_banned_ips' %}">{% trans "Banned IP" %}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'panel_admin_service' %}">{% trans "Services" %}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'panel_admin_category' %}">{% trans "Category" %}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'panel_admin_orders' %}">{% trans "Orders" %}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'panel_admin_reports' %}">{% trans "Reports" %}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout' %}">{% trans "Logout" %}</a>
                            </li>
                        </ul>
                        <form class="nav-lang" action="{% url 'set_language' %}" method="post" class="form-inline my-2 my-lg-0">
                            {% csrf_token %}
                            <select name="language" onchange="this.form.submit()" class="form-control">
                                {% get_current_language as LANGUAGE_CODE %}
                                {% get_available_languages as LANGUAGES %}
                                {% for lang in LANGUAGES %}
                                    <option value="{{ lang.0 }}"{% if lang.0 == LANGUAGE_CODE %} selected{% endif %}>{{ lang.1 }}</option>
                                {% endfor %}
                            </select>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- end header section -->
    <main class="container mt-5 min-vh-100">
        {% block content %}{% endblock %}
    </main>
    <!-- footer section -->
    <footer class="container-fluid footer_section">
      <p>&copy; 2024 {% trans "Star Start" %}. {% trans "All rights reserved." %}</p>
    </footer>
    <!-- end footer section -->
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>
