{% extends "panels_base_admin.html" %}
{% load i18n %}

{% block title %}{% trans "Promo code" %} | {% trans "Star Start" %}{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mb-4">{% trans "Promo code" %}</h2>
    <a href="{% url 'panel_form_add' 0 %}" class="btn btn-primary mb-3">{% trans "Add Promo code" %}</a><br>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>{% trans "Value" %}</th>
                <th>{% trans "Description" %}</th>
                <th>{% trans "Discount" %}</th>
                <th>{% trans "Expiration date" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for promo_code in promo_codes_list %}
                <tr>
                    <td>{{ promo_code.id }}</td>
                    <td>{{ promo_code.value }}</td>
                    <td>{{ promo_code.description }}</td>
                    <td>{{ promo_code.discount }}</td>
                    <td>{{ promo_code.expiration_date }}</td>
                    <td>
                        <a href="{% url 'panel_form_edit' promo_code.id %}" class="btn btn-success">{% trans "Edit" %}</a>
                        <a href="{% url 'panel_form_delete' promo_code.id %}" class="btn btn-danger">{% trans "Delete" %}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <nav aria-label="{% trans 'Page navigation example' %}">
        <ul class="pagination">
            {% if promo_codes_list.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1{% if search_query %}&search={{ search_query }}{% endif %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ promo_codes_list.previous_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}
            {% for num in promo_codes_list.paginator.page_range %}
                {% if promo_codes_list.number == num %}
                    <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                {% elif num > promo_codes_list.number|add:'-3' and num < promo_codes_list.number|add:'3' %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}{% if search_query %}&search={{ search_query }}{% endif %}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}
            {% if promo_codes_list.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ promo_codes_list.next_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ promo_codes_list.paginator.num_pages }}{% if search_query %}&search={{ search_query }}{% endif %}" aria-label="Next">
                        <span aria-hidden="true">&raquo;&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}