{% extends "panels_base_form.html" %}
{% load i18n %}

{% block title %}{% trans title %} | {% trans "Star Start" %}{% endblock %}

{% block content %}
<div class="edit-profile-container">
    <div class="edit-profile-box">
        <h2>{% trans h2_tag %}</h2>
        <form method="post">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit">{% trans "Delete" %}</button>
            <a href="{% url url_redirect %}">
                <button type="button" class="btn btn-secondary">{% trans "Back" %}</button>
            </a>
        </form>
    </div>
</div>
{% endblock %}