{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Set New Password" %}{% endblock %}

{% block content %}
<div class="reset-pass-container">
    <div class="reset-pass-box">
        <h2>{% trans "Set New Password" %}</h2>
        <form method="post">
            {% if password_validators_help_text %}
            <ul>
                {% for text in password_validators_help_text %}
                    <li>{{ text }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn-primary" type="submit">{% trans "Set password" %}</button>
        </form>
    </div>
</div>
{% endblock %}