{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="container mt-5">
   <div class="reset-pass-container">
    <div class="reset-pass-box">
        <h2>{% trans "Password Reset" %}</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
        </form>
   </div>
   </div>
</div>
{% endblock %}
