{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
<div class="reset-pass-container">
    <div class="reset-pass-box">
        <h2>{% trans "Reset your password" %}</h2>
        <form method="post">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            {% endif %}

            {% csrf_token %}
            {{ password_reset_form.as_p }}
            <button class="btn-primary" type="submit">{% trans "Send reset email" %}</button>
        </form>
    </div>
</div>
{% endblock %}
