<!-- templates/profile.html -->
{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Profile" %}{% endblock %}

{% block content %}
<h2>{% trans "Profile" %}</h2>
<div class="row profile-container shadow">
    <div class="col-md-4 profile-left">
        <img src="{{ user.profile_photo.url }}" alt="{% trans 'Profile Photo' %}" class="profile-photo img-fluid shadow" width="150" height="150">
    </div>
    <div class="col-md-8 profile-right">
        <h2>{{ user.first_name }} {{ user.last_name }}</h2>
        <p>{% trans "Email" %}: {{ user.username }}</p>
        <p>{% trans "Phone" %}: {{ user.phone_number }}</p>
        <a href="{% url 'edit_profile' %}" class="btn btn-success">{% trans "Edit Profile" %}</a>
    </div>
</div>

<div class="last-order shadow">
<h3>{% trans "Last Orders" %}</h3>
{% if last_order %}
    <p>{% trans "ID:" %} {{ last_order.service.id }}</p>
    <p>{% trans "Service:" %} {{ last_order.service.title }}</p>
    <p>{% trans "Category:" %} {{ last_order.category.name }}</p>
    <p>{% trans "Date:" %} {{ last_order.date }}</p>
    <p>{% trans "Status:" %} {{ last_order.get_status_display }}</p>
    <p>{% trans "Cost:" %} {{ last_order.cost }} ₽</p>
    {% if last_order.status == 'not_paid' %}
    <form method="post" action="{% url 'orders_pay' last_order.order_id %}" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">{% trans "Pay" %}</button>
    </form>
    {% endif %}

    {% if last_order.status == 'paid' %}
        {% if not order.service.is_visible_content %}
            <form method="post" action="{% url 'order_get_tickets' last_order.order_id %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">{% trans "Get ticket" %}</button>
            </form>
        {% else %}
            <a href="{% url 'order_view_content' order.service.id %}" class="btn btn-info">{% trans "View content" %}</a>
        {% endif %}
    {% endif %}

    <a href="{% url 'orders_details' last_order.order_id %}" class="btn btn-info">{% trans "Details" %}</a>
{% else %}
    <p>{% trans "No recent orders" %}</p>
{% endif %}
</div>
{% endblock %}
