{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Add order' %}{% endblock %}

{% block content %}
<h2>{% trans "Add Order" %}</h2>
<div class="user-card">
    <img src="{{ service.image_path.url }}" alt="{% trans 'Service' %}">
    <div class="card-body">
        <h5 class="card-title">{{ service.title }}</h5>
        <p class="card-text">{{ service.description|safe }}</p>
    </div>
    <div class="card-order-info">
        <form method="post" id="form_service_add_order">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="order-price">
                <label>{% trans "Cost" %}:</label><p id="category_cost_text"></p>
                <button class="btn-primary" type="submit">{% trans "Submit" %}</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var categorySelect = document.getElementById('id_category');
        var promoCodeInput = document.getElementById('id_promo_code');
        var checkPromoCodeButton = document.createElement('button');

        var csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        var costText = document.getElementById('category_cost_text');
        var discountText = document.getElementById('promo_code_discount_text');

        function loadCategoryCost(category_id, promo_code = null) {
            var url = `/ajax/get-category-cost/?category=${category_id}`;

            fetch(url, {
                method: 'GET',
                headers: {
                    'X-CSRFToken': csrfToken
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.cost == 0) {
                    costText.textContent = '{% trans "Negotiable" %}';
                } else {
                    costText.textContent = data.cost + ' ₽';
                }
            });
        }

        // Проверяем стоимость категории при загрузке страницы
        if (categorySelect.value) {
            loadCategoryCost(categorySelect.value, promoCodeInput.value);
        }

        categorySelect.addEventListener('change', function() {
            loadCategoryCost(this.value, promoCodeInput.value);
        });

    });
</script>
{% endblock %}
