{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Add order' %}{% endblock %}

{% block content %}
<h2>{% trans "Add Order" %}</h2>
<div class="user-card">
    <img src="{{ service.image_path.url }}" alt="{% trans 'Service' %}">
    <div class="card-body">
        <h5 class="card-title">{{ service.title }}</h5>
        <p class="card-text">{{ service.description }}</p>
    </div>
    <div class="card-order-info">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="order-price">
            <label>{% trans "Cost" %}:</label><p id="category_cost_text"></p> 
            <button class="btn-primary" type="submit">{% trans "Submit" %}</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var serviceSelect = document.getElementById('id_service');
        var categorySelect = document.getElementById('id_category');
        var csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        var costText = document.getElementById('category_cost_text');

        function loadCategories(service_id) {
            fetch('/ajax/load-categories/?service=' + service_id, {
                method: 'GET',
                headers: {
                    'X-CSRFToken': csrfToken
                }
            })
            .then(response => response.json())
            .then(data => {
                categorySelect.innerHTML = '';
                for (var key in data) {
                    var option = document.createElement('option');
                    option.value = key;
                    option.text = data[key];
                    categorySelect.appendChild(option);
                }

                if (categorySelect.value) {
                    loadCategoryCost(categorySelect.value);
                }
            });
        }

        function loadCategoryCost(category_id) {
            fetch('/ajax/get-category-cost/?category=' + category_id, {
                method: 'GET',
                headers: {
                    'X-CSRFToken': csrfToken
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.cost == 0) {
                    costText.textContent = 'Договорная';
                }
                else {
                    costText.textContent = data.cost + ' ₽';
                };
            });
        }

        if (serviceSelect.value) {
            loadCategories(serviceSelect.value);  // Загружаем категории при загрузке страницы, если есть выбранная услуга
        }

        serviceSelect.addEventListener('change', function() {
            loadCategories(this.value);
        });

        categorySelect.addEventListener('change', function() {
            loadCategoryCost(this.value);
        });
    });
</script>
{% endblock %}
