{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load custom_tags %}

{% block title %}{% trans "Our Services" %} | {% trans "Star Start" %}{% endblock %}

{% block content %}
<h2>{% trans "Our Services" %}</h2>
<p>{% trans "Choose a service that will make your event unforgettable!" %}</p>
<div class="row">
    {% for index, service in services_list %}
    <div class="col-md-6">
        <div class="user-card">
            <img src="{{ service.image_path.url }}" class="card-img-top" alt="{% trans 'Service' %}">
            <div class="card-body">
                <h5 class="card-title">{{ service.title }}</h5>
                <p class="card-text text-ellipsis" data-full-text="{{ service.description }}">{{ service.description }}</p>
                {% if min_cost_categories_list %}
                    <p>{% trans 'Price from' %} {{ min_cost_categories_list|get_by_index:index }} ₽</p>
                {% endif %}
                <a href="{% url 'services_add_order' service.id %}" class="btn btn-success">{% trans "Order" %}</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const cards = document.querySelectorAll('.card-text');
        
        cards.forEach(card => {
            const fullText = card.getAttribute('data-full-text');
            card.addEventListener('click', function () {
                if (card.classList.contains('expanded')) {
                    card.classList.remove('expanded');
                    card.textContent = fullText.slice(0, 207) + '...';
                } else {
                    card.classList.add('expanded');
                    card.textContent = fullText;
                }
            });
        });
    });
</script>
{% endblock %}
