<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% trans "Terms of service" %} | {% trans "Star start" %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,600,700&display=swap" rel="stylesheet">
</head>
<body>
<main class="container mt-5">
<h1>Условия пользования</h1>

<p><strong>1. Введение</strong></p>
<p>Добро пожаловать на сайт "stars-start.ru". Данный сайт принадлежит и управляется Индивидуальным предпринимателем Бутенко Анастасией Андреевной (далее "Компания", "мы" или "нас"). Используя наш сайт и услуги, вы соглашаетесь с условиями, изложенными в настоящем документе. Если вы не согласны с этими условиями, пожалуйста, не используйте наш сайт.</p>

<p><strong>2. Определения</strong></p>
<p>2.1. "Сайт" - веб-ресурс, расположенный по адресу "stars-start.ru".<br>
2.2. "Пользователь" - любое лицо, использующее сайт.<br>
2.3. "Услуги" - услуги по продаже билетов на фестивали, услуги саундрайтинга, продвижения артистов и другие услуги, предоставляемые через сайт.</p>

<p><strong>3. Условия использования</strong></p>
<p>3.1. Пользователи обязаны использовать сайт только в законных целях и соблюдать все применимые законы Российской Федерации.<br>
3.2. Пользователи обязаны предоставлять достоверную информацию при регистрации и не передавать свои учетные данные третьим лицам.<br>
3.3. Мы оставляем за собой право ограничивать или прекращать доступ к сайту в случае нарушения условий пользования.</p>

<p><strong>4. Описание услуг</strong></p>
<p>4.1. Компания предоставляет услуги по продаже билетов на фестивали, продвижению артистов, саундрайтингу и другие сопутствующие услуги.<br>
4.2. Компания оставляет за собой право вносить изменения в перечень и содержание услуг без предварительного уведомления пользователей.</p>

<p><strong>5. Оплата и возвраты</strong></p>
<p>5.1. Оплата за услуги производится через банковские карты и другие доступные на сайте методы.<br>
5.2. Возврат средств возможен в случаях, предусмотренных законодательством РФ, а также в случае отмены или переноса мероприятия.<br>
5.3. В случае чарджбэков по кредитным картам ответственность за урегулирование споров лежит на пользователе.</p>

<p><strong>6. Конфиденциальность и защита данных</strong></p>
<p>6.1. Мы собираем и обрабатываем персональные данные пользователей в соответствии с Политикой конфиденциальности, размещенной на сайте.<br>
6.2. Пользователи обязаны ознакомиться с Политикой конфиденциальности перед использованием услуг.</p>

<p><strong>7. Интеллектуальная собственность</strong></p>
<p>7.1. Все материалы на сайте, включая тексты, изображения и другие элементы, защищены авторским правом и принадлежат Компании или используются на законных основаниях.<br>
7.2. Пользователь не имеет права использовать материалы сайта для коммерческих целей без письменного согласия Компании.</p>

<p><strong>8. Ответственность</strong></p>
<p>8.1. Компания не несет ответственности за возможные убытки, возникшие в результате использования сайта.<br>
8.2. Компания не гарантирует бесперебойную и безошибочную работу сайта и не несет ответственности за технические сбои.</p>

<p><strong>9. Разрешение споров</strong></p>
<p>9.1. Все споры, возникающие в связи с использованием сайта, разрешаются в соответствии с законодательством Российской Федерации.<br>
9.2. В случае невозможности урегулирования спора путем переговоров, спор подлежит рассмотрению в суде по месту нахождения Компании.</p>

<p><strong>10. Изменения условий</strong></p>
<p>10.1. Компания оставляет за собой право вносить изменения в настоящие условия в любое время. Об изменениях пользователи будут уведомлены путем размещения обновленной версии условий на сайте.<br>
10.2. Продолжение использования сайта после внесения изменений означает согласие пользователя с новыми условиями.</p>

<p><strong>11. Контактная информация</strong></p>
<p>Индивидуальный предприниматель Бутенко Анастасия Андреевна<br>
Юридический адрес: 346885, Россия, Ростовская обл., г. Батайск, мкр Северный массив, д. 15<br>
ИНН: 613703462367<br>
ОГРН/ОГРНИП: 323619600234580<br>
Расчетный счет: 40802810700005500073<br>
Банк: АО "Тинькофф Банк"<br>
ИНН банка: 7710140679<br>
БИК банка: 044525974<br>
Корреспондентский счет банка: 30101810145250000974<br>
Юридический адрес банка: Москва, 127287, ул. Хуторская 2-я, д. 38А, стр. 26</p>

<p>Настоящие условия были обновлены 12.08.2024</p>
<a class="btn-primary" href="{% url 'register' %}">{% trans "Return back" %}</a>
</main>
<!-- footer section -->
<footer class="container-fluid footer_section">
<p>&copy; 2024 {% trans "Star Start" %}. {% trans "All rights reserved." %}</p>
</footer>
<!-- end footer section -->
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>
