<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% trans "User agreement" %} | {% trans "Star start" %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,600,700&display=swap" rel="stylesheet">
</head>
<body>
<main class="container mt-5">

<h1>Пользовательское соглашение</h1>

<p><strong>1. Введение</strong></p>
<p>Настоящее Пользовательское соглашение (далее "Соглашение") регулирует отношения между пользователем (далее "Пользователь") и Индивидуальным предпринимателем Бутенко Анастасией Андреевной (далее "Компания", "мы" или "нас") при использовании веб-сайта "stars-start.ru" (далее "Сайт") и предоставляемых через него услуг.</p>
<p>Соглашение вступает в силу с момента регистрации</p>

<p><strong>2. Правила и ограничения пользователей</strong></p>
<p>Пользователь обязуется:</p>
<ul>
    <li>Использовать Сайт только в законных целях;</li>
    <li>Не нарушать авторские права и права на интеллектуальную собственность третьих лиц;</li>
    <li>Не размещать на Сайте контент, содержащий вредоносные программы, вирусы или иные средства, способные нанести ущерб Сайту или другим пользователям.</li>
</ul>

<p><strong>3. Ограничение ответственности и отказ от гарантий</strong></p>
<p>Все услуги и материалы, представленные на Сайте, предоставляются "как есть", без каких-либо гарантий, явных или подразумеваемых. Компания не несет ответственности за любые убытки, возникшие в результате использования Сайта.</p>

<p><strong>4. Политика конфиденциальности</strong></p>
<p>Наша Политика конфиденциальности является неотъемлемой частью настоящего Соглашения. В ней описывается, как мы собираем, используем, передаем и защищаем ваши персональные данные. Ознакомьтесь с <a href="#privacy-policy">Политикой конфиденциальности</a> для получения полной информации.</p>

<p><strong>5. Юрисдикция и разрешение споров</strong></p>
<p>Настоящее Соглашение регулируется и толкуется в соответствии с законодательством Российской Федерации. Все споры, возникающие в связи с использованием Сайта, подлежат разрешению в суде по месту нахождения Компании.</p>

<p><strong>6. Контактная информация</strong></p>
<p>Индивидуальный предприниматель Бутенко Анастасия Андреевна<br>
Юридический адрес: 346885, Россия, Ростовская обл., г. Батайск, мкр Северный массив, д. 15<br>
ИНН: 613703462367<br>
ОГРН/ОГРНИП: 323619600234580<br>
Электронная почта: manager.starstart@ya.ru</p>

<p><strong>7. Изменения в соглашении</strong></p>
<p>Компания оставляет за собой право вносить изменения в настоящее Соглашение в любое время. Пользователи будут уведомлены об изменениях путем размещения обновленной версии Соглашения на Сайте.</p>

<h2 id="privacy-policy">Политика конфиденциальности</h2>

<p><strong>1. Сбор информации</strong></p>
<p>Мы собираем следующие типы информации:</p>
<ul>
    <li>Личные данные: имя, адрес электронной почты, телефон и другие контактные данные, предоставленные вами при регистрации на Сайте.</li>
    <li>Информация о вашем использовании Сайта: файлы cookie, данные об IP-адресе, информация о браузере и операционной системе.</li>
</ul>

<p><strong>2. Использование информации</strong></p>
<p>Собранные данные используются для:</p>
<ul>
    <li>Предоставления услуг и поддержки пользователей;</li>
    <li>Улучшения работы Сайта и предложения персонализированного контента;</li>
    <li>Маркетинговых целей, включая отправку рекламных предложений и новостей.</li>
</ul>

<p><strong>3. Передача информации третьим лицам</strong></p>
<p>Мы не передаем ваши личные данные третьим лицам, за исключением случаев, предусмотренных законодательством Российской Федерации или если это необходимо для предоставления услуг (например, передача данных сервисным партнерам).</p>

<p><strong>4. Безопасность данных</strong></p>
<p>Мы принимаем все необходимые меры для защиты ваших данных от несанкционированного доступа, изменения или удаления. Включая использование шифрования, безопасных серверов и других технологий защиты данных.</p>

<p><strong>5. Права пользователей</strong></p>
<p>Вы имеете право на доступ, изменение и удаление своих данных. Для реализации этих прав, свяжитесь с нами через контактные данные, указанные выше.</p>

<p><strong>6. Изменения в политике конфиденциальности</strong></p>
<p>Мы оставляем за собой право изменять настоящую Политику конфиденциальности в любое время. Об изменениях пользователи будут уведомлены путем размещения обновленной версии Политики на Сайте.</p>
<a class="btn-primary" href="{% url 'register' %}">{% trans "Return back" %}</a>
</main>
<!-- footer section -->
<footer class="container-fluid footer_section">
<p>&copy; 2024 {% trans "Star Start" %}. {% trans "All rights reserved." %}</p>
</footer>
<!-- end footer section -->
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>