{% extends "custom_admin/base.html" %}
{% load i18n %}

{% block title %}{% trans "User Management" %} | {% trans "Star Start" %}{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mb-4">{% trans "User Management" %}</h2>
    <form method="get" class="d-flex mb-3">
        <input type="text" name="search" class="form-control me-2" placeholder="{% trans "Search users..." %}" value="{{ search_query }}">
        <button type="submit" class="btn btn-secondary">{% trans "Search" %}</button>
    </form>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>{% trans "Email" %}</th>
                <th>{% trans "Registration Date" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users_list %}
                <tr>
                    <td>{{ user.user_id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.date_joined }}</td>
                    <td>
                        <a href="/admin/registration/customuser/{{ user.user_id }}/change/" class="btn btn-success">{% trans "Edit" %}</a>
                        <a href="/admin/registration/customuser/{{ user.user_id }}/delete/" class="btn btn-danger">{% trans "Delete" %}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if users_list.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1{% if search_query %}&search={{ search_query }}{% endif %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ users_list.previous_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}
            {% for num in users_list.paginator.page_range %}
                {% if users_list.number == num %}
                    <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                {% elif num > users_list.number|add:'-3' and num < users_list.number|add:'3' %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}{% if search_query %}&search={{ search_query }}{% endif %}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}
            {% if users_list.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ users_list.next_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ users_list.paginator.num_pages }}{% if search_query %}&search={{ search_query }}{% endif %}" aria-label="Next">
                        <span aria-hidden="true">&raquo;&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
    <a href="/admin/registration/bannedip/add/" class="btn btn-primary mb-3">{% trans "Add IP" %}</a><br>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>{% trans "IP address" %}</th>
                <th>{% trans "Description" %}</th>
                <th>{% trans "Created" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for banned_ip in banned_ip_list %}
                <tr>
                    <td>{{ banned_ip.id }}</td>
                    <td>{{ banned_ip.ip_address }}</td>
                    <td>{{ banned_ip.description }}</td>
                    <td>{{ banned_ip.created_at }}</td>
                    <td>
                        <a href="/admin/registration/bannedip/{{ banned_ip.id }}/change/" class="btn btn-success">{% trans "Edit" %}</a>
                        <a href="/admin/registration/bannedip/{{ banned_ip.id }}/delete/" class="btn btn-danger">{% trans "Delete" %}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <nav aria-label="{% trans 'Page navigation example' %}">
        <ul class="pagination">
            {% if banned_ip_list.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1{% if search_query %}&search={{ search_query }}{% endif %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ banned_ip_list.previous_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}
            {% for num in banned_ip_list.paginator.page_range %}
                {% if users_list.number == num %}
                    <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                {% elif num > users_list.number|add:'-3' and num < users_list.number|add:'3' %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}{% if search_query %}&search={{ search_query }}{% endif %}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}
            {% if users_list.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ banned_ip_list.next_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ banned_ip_list.paginator.num_pages }}{% if search_query %}&search={{ search_query }}{% endif %}" aria-label="Next">
                        <span aria-hidden="true">&raquo;&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}
